@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes horizontal-zoom {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
} 

#rocketbox {
    -webkit-animation: horizontal-zoom 6s linear infinite; /* Safari 4+ */
    -moz-animation:    horizontal-zoom 6s linear infinite; /* Fx 5+ */
    -o-animation:      horizontal-zoom 6s linear infinite; /* Opera 12+ */
    animation:         horizontal-zoom 6s linear infinite; /* IE 10+, Fx 29+ */
    display: flex;
    justify-content: space-between;
  }

#atombox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rocket-icon {
    height: 125px;
    transform: rotate(45deg);
}